body{
    background-color: #1C2964;
}




.container
{
    top: 50px;
    left: 30px;
    width: 300px;
    height: 48px; 
    background: transparent url('/assets/img1.png') 0% 0% no-repeat padding-box;
}

.example-container {
    width: auto;
    height: 100%;
    background-color:rgb(236, 253, 253);
  }

.mat-drawer{
    width: 20%;
    background-color:aliceblue;
}

.button{
    margin: 20px;
}

.toolbar{
    margin-top: 20px;
    height: 30px;
    background: transparent;
    top: 0;
    position:sticky;
}

.content{
    padding-left: 40px;
    padding-top: 10px;
    height: 100%;
}

.spacer{
    flex: 1 1 auto;
  }

  mat-icon{
      padding: 10px;
  }